includes:
    # TODO Remove this when PHP 8.3 support is dropped.
    - phpstan.ignore.php

parameters:
    level: 8
    parallel:
        maximumNumberOfProcesses: 12
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
